<!doctype html>
<html lang="en">
<head>
    <title>Reports</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
</head>
<body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/home">Thunder-Alert System</a>
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarNav" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="/home">Alerts</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link active" href="/reports">Reports<span class="sr-only">(current)</span></a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/update">admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/tele">Tele phase</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/message">Message Phase</a>
            </li>

            <li class="nav navbar-nav pull-right">
                <a class="nav-link" href="/logout">Log out</a>
            </li>


        </ul>
    </div>
</nav>

<br>
<br>


<div class=" container text-primary h3 text-center">Lightning Reports</div>


<div class="container  vertical-center align-middle">

    <form action="/reports" method="post" id="frm">


        <%if(reports.length>0){%>
        <input type="date" name="date1" required="true" value=<%=reports.from%> >
        <input type="date" name="date2" required="true"value=<%=reports.to%> >
        <%}else{%>
            <input type="date" name="date1" required="true"  >
            <input type="date" name="date2" required="true">
        <%}%>


        <br><br>


        <center>
            <button type="submit" class="btn btn-success">Submit</button>
        </center>
    </form>
</div>

<div class="container">
    <%if(error.length>0){%>
    <div class="alert alert-danger" role="alert">
        <%=error%>
    </div>
    <%}%>
</div>

<div class=" jumbotron bg-white vertical-center align-middle">
    <center>
        <table border="1" class="table-bordered">
            <thead class="table-success">
            <tr>
                <th colspan="16">
                    <center>SEOC-Lightning Tele-Communication Details</center>
                </th>
            </tr>
            <tr class="text-center">

                <th rowspan="2"><br>Alert Id</th>
                <th rowspan="2"><br>Date</th>
                <th rowspan="2"><br>Time</th>
                <th rowspan="2"><br>District</th>
                <th rowspan="2"><br>Mandal</th>
                <th colspan="3">Tele Calls</th>
                <th rowspan="2"><br>Call Comments</th>
                <th colspan="5">Whatsapp</th>
                <th>Telegram Details</th>
                <th rowspan="2"><br>Message Comments</th>
            </tr>
            <tr class="text-center">
                <th>MRO</th>
                <th>D.Sec</th>
                <th>DRO</th>
                <th>DRO</th>
                <th>D.Sec</th>
                <th>RDO</th>
                <th>Alerts</th>
                <th>MRO</th>
                <th>MRO</th>
            </tr>
            </thead>
            <% for (let report of reports){ %>
                <tbody>

                <tr class="text-center">

                    <td rowspan="2"><%= report.id %></td>
                    <td rowspan="2"><%= report.date %></td>
                    <td rowspan="2"><%= report.time %></td>
                    <td rowspan="2"><%= report.mandal.dist %></td>
                    <td rowspan="2"><%= report.mandal.mandal %></td>
                    <td rowspan="2"><%= report.tele.mro %></td>
                    <td rowspan="2"><%= report.tele.super %></td>
                    <td rowspan="2"><%= report.tele.dro %></td>
                    <td rowspan="2"><%= report.tele.comments %></td>
                    <td rowspan="2"><%= report.message.dro %></td>
                    <td rowspan="2"><%= report.message.super %></td>
                    <td rowspan="2"><%= report.message.rdo %></td>
                    <td rowspan="2"><%= report.message.alerts %></td>
                    <td rowspan="2"><%= report.message.mro %></td>
                    <td rowspan="2"><%= report.message2.mro %></td>
                    <td rowspan="2"><%= report.message.comments %></td>
                </tr>
                </tbody>
            <% } %>
<!--            <tr class="text-center"><a href="/manual"><input type="submit" class="btn btn-success"-->
<!--                                                             value="Export in Excel"></a></tr>-->

        </table>
    </center>
</div>


</body>
</html>