<!doctype html>
<html lang="en">
<head>
    <title>Initiation</title>

    <script type="text/javascript">
        function display_c() {
            var refresh = 1000; // Refresh rate in milli seconds
            mytime = setTimeout('display_ct()', refresh)
        }

        function display_ct() {
            var x = new Date();
            var x1 = String(x);
            // console.log(x1);
            var temp = x1.split(" ");
            x = temp[4];
            document.getElementById('ct').value = x;



            tt = display_c();
        }
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <style>
        table {
            width: 50%;
            border: 1px solid black;
        }


    </style>
</head>
<body onload="display_ct()">

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/home">Thunder-Alert System</a>
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarNav" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Alerts</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/reports">Reports</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/update">admin</a>
            </li>

        </ul>
    </div>
</nav>
<br>
<% if(errorMessage.length > 0){ %>
<div class="alert alert-danger" role="alert">
    <%= errorMessage %>
</div>
<% } %>
<br>
<div class="text-center h3 text-info container ">Lightning Alert Details</div>
<br>


<form class="container jumbotron vertical-center align-middle" method="post" action="/service">
<div class="container  vertical-center align-middle">
    <table class="table  table-striped table-bordered">
        <tbody>
        <center>
            <tr>
                <td>
                    <div class="text-left text-primary">Alert Id:</div>
                </td>
                <td>
                    <div class="text-left font-weight-bold"><%= alert._id %></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="text-left text-primary">Alert Date:</div>
                </td>

                <td>
                    <div class="text-left font-weight-bold" id="date">
                    <%=alert.date%>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="text-left text-primary">Alert Time:</div>
                </td>

                <td>
                    <div class="text-left font-weight-bold"><input type="text" class="font-weight-bold" id="ct" name="time"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="text-left text-primary">District:</div>
                </td>
                <td>
                    <div class="text-left font-weight-bold"><%= alert.dist %></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="text-left text-primary">Mandal:</div>
                </td>
                <td>
                    <div class="text-left font-weight-bold"><%= alert.mandal %></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="text-left text-primary">Village:</div>
                </td>
                <!--// TODO -->
                <td>
                    <div class="text-left font-weight-bold">All Villages</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="text-left text-primary">MRO Name & MRO phno:</div>
                </td>

                <td>
                    <div class="text-left font-weight-bold"><%= alert.mroName %>, <%= alert.mroPhone %></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="text-left text-primary">Superendent Name & phno:</div>
                </td>

                <td>
                    <div class="text-left font-weight-bold"><%= alert.superName %>, <%= alert.superPhone %></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="text-left text-primary">Dro Name & phn:</div>
                </td>

                <td>
                    <div class="text-left font-weight-bold"><%= alert.droName %>, <%= alert.droPhone %></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="text-left text-primary">Whatsapp alerts:</div>
                </td>

                <td>
                    <div class="text-left font-weight-bold"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="text-left text-primary">Telegram alerts:</div>
                </td>

                <td>
                    <div class="text-left font-weight-bold"></div>
                </td>
            </tr>


        </center>
        </tbody>
    </table>
    <center><a href="/home">
            <button class="btn-warning text-center btn">New Alert Initiation</button>
        </a></center>
</div>
<br>
</form>
</body>
</html>